body {
    font-family: Roboto, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    background-color: #E1E2E1;
    color: #4A4453;
    margin: 0;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.font-style {
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

.header {
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    background-color: #7F65C5;
    color: #ffffff;
}

.main {
    padding: 30px;
}

#checklist {
    max-width: 200px;
}

.img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-tasks {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 1000px;
    height: auto;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(74,68,83,.7);
}

.container-tasks:hover {
    box-shadow: 0px 5px 10px rgba(74,68,83,.7);
}

.input {
    margin: 0;
    width: 90%;
    height: 50px;
    padding: 15px;
    float: left;
    font-size: 18px;
    border: 5px solid #00C9A2;
    border-radius: 15px;
}

.add-icon {
    width: 10%;
    color: #00C9A2;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.add-icon:hover {
    color: #5ffdd2;
}

ul {
    padding: 0;
}

ul li {
    margin: 0;
    width: 90%;
    cursor: pointer;
    position: relative;
    padding: 15px 15px 15px 45px;
    list-style-type: none;
    background: #E1E2E1;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #eeeeee;
}

ul li:hover {
    background: #cccccc;
}

ul li.checked {
    background: #888888;
    color: #ffffff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
}

.trash {
    width: 25px;
    height: 25px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px;
}

.close:hover {
    background-color: #f44336;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    color: #ffffff;
    background-color: #7F65C5; 
    text-align: center;
    font-size: 18px;
    display: block;
    box-shadow: 0px 1px 5px rgba(74,68,83,.7);
}

.chevron a {
    color: #ffffff;
    font-size: 40px;
    margin-left: 10px;
    float: right;
}

.chevron a:hover {
    color: #5ffdd2;
}

@media only screen and (max-width: 770px) {
    .title {
        font-size: 1.5em;
    }
    #checklist {
        width: 150px;
    }
    .container-tasks {
        padding: 30px;
    }
    .input {
        width: 80%;
        height: 40px;
        font-size: 15px;
        padding: 10px;
    }
    .add-icon {       
        font-size: 40px;
        widows: 8%;
        padding-left: 5px;
    }
    ul li {
        font-size: 15px;
        padding: 10px;
    }
    ul li.checked::before {
        height: 12px;
        width: 6px;
    }
    .trash {
        width: 20px;
        height: 20px;
    }
    .close {
        padding: 7px;
    }
    .footer {
        font-size: 15px;
    }
    .trash-icon a {
        font-size: 30px;
    }
    .chevron a {
        font-size: 30px;
    }
}
