html {
    margin: 0;
    height: 100%;
}
body {
    font-family: Roboto, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    background-color: #E1E2E1;
    color: #4A4453;
    margin: 0;
    height: 100%;
}

.main {
    min-height: 100%;
    margin-bottom: -50px;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.font-style {
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

.header {
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    background-color: #7F65C5;
    color: #ffffff;
}

.main {
    padding: 30px;
}

#checklist {
    max-width: 200px;
}

.img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-tasks {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 1000px;
    height: auto;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(74,68,83,.7);
}

.container-tasks:hover {
    box-shadow: 0px 5px 10px rgba(74,68,83,.7);
}

.input {
    margin: 0;
    height: 50px;
    padding: 15px;
    float: none;
    border: 5px solid #00C9A2;
    border-radius: 15px;
}

#task-title {
    width: 75%;
    font-size: 18px;
}

#task-title:hover {
    box-shadow: 0px 3px 8px rgba(74,68,83,.7);
}

#task-date {
    width: 22%;
    font-size: 14px;
    margin-left: 2%;
}

#task-date:hover {
    box-shadow: 0px 3px 8px rgba(74,68,83,.7);
}

.button {
    color: #ffffff;
    background-color: #00C9A2;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 14px;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 40px;
    width: 20%;
    transition-duration: 0.4s;
    box-shadow: 0px 3px 8px rgba(74,68,83,.7);
}

.button:hover {
    background-color: #5ffdd2;
    color: #000000;
}

.button:disabled {
    background-color: #cccccc;
    color: #ffffff;
    cursor: inherit;
}

ul.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    padding: 0;
}

ul li {
    margin: 0;
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 10px 10px 10px 50px;
    list-style-type: none;
    background: #E1E2E1; 
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word;
    margin-bottom: 2px;
}

ul li:nth-child(odd) {
    background: #eeeeee;
}

ul li:hover {
    background: #cccccc;
    box-shadow: 0px 0px 2px 2px rgba(0,201,162,.7);
}

ul li.checked {
    background: #888888;
    color: #ffffff;
    text-decoration: line-through;
    text-decoration-color: #ff4d4d;
}

.date {
    font-size: 12px;
    font-family: monospace;
    font-style: italic;
}

.trash, .checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.check {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.close:hover {
    box-shadow: 0px 0px 3px 3px rgba(255,77,77,.7);
}

.footer {    
    width: 100%;
    height: 70px;
    color: #ffffff;
    background-color: #7F65C5; 
    text-align: center;
    font-size: 18px;
    display: block;
    box-shadow: 0px 1px 5px rgba(74,68,83,.7);
}

.copyright {
    padding: 20px;
}

.chevron a {
    color: #ffffff;
    font-size: 40px;
    padding: 10px;
    margin-right: 10px;
    float: right;
}

.chevron a:hover {
    color: #5ffdd2;
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 1.5em;
    }
    .button {
        font-size: 14px;
        margin: 5px 5px;
        padding: 8px 20px;
        width: 20%;
    }
}

@media only screen and (max-width: 770px) {
    .title {
        font-size: 1.17em;
    }
    #checklist {
        max-width: 150px;
    }
    .container-tasks {
        padding: 40px;
    }
    .input {
        height: 40px;
        padding: 10px;
    }
    #task-title {
        font-size: 15px;
    }
    #task-date {
        font-size: 12px;
    }
    .button {
        font-size: 12px;
        margin: 5px 5px;
        padding: 8px 10px;
        width: 20%;
    }
    ul li {
        font-size: 14px;
        padding: 8px 8px 8px 40px;
    }
    .date {
        font-size: 11px;
    }
    .trash, .checkbox {
        width: 20px;
        height: 20px;
    }
    .check {
        padding: 7px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .close {
        padding: 15px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer {
        font-size: 15px;
    }
    .chevron a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 1em;
    }
    #checklist {
        max-width: 100px;
    }
    .input {
        border: 4px solid #00C9A2;
    }
    #task-title {
        font-size: 14px;
        width: 100%;
    }
    #task-date {
        font-size: 12px;
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    .button {
        font-size: 12px;
        margin: 5px 5px;
        padding: 6px 10px;
        width: 100%;
    }
    ul.button-group {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ul li {
        font-size: 12px;
        padding: 5px 5px 5px 30px;
    }
     .date {
        font-size: 9px;
    }
    .trash, .checkbox {
        width: 15px;
        height: 15px;
    }
    .check {
        padding: 5px;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .close {
        padding: 10px;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .footer {
        font-size: 12px;
    }
    .chevron a {
        font-size: 20px;
    }
}